

body {
    background: #ADD8E6;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

h2 {
    padding-bottom: 15px;
}

.img {
    text-align: center;
}

.fig {
    width: 600px;
    background-color: #7B68EE;
    box-shadow: 13px -12px 10px 0px #808080;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    line-height: 1.5;
}
